
<h3>Please provide the following details</h3>
<div class="center">
    <form>
        <div class="form-group">
          <label for="RMSE">RMSE:</label>
          <input type="number" class="form-control" id="RMSE"  placeholder="Enter RMSE">
        </div>
        <div class="form-group">
            <label for="InWave">Initial Wavelength:</label>
            <input type="number" class="form-control" id="InWave" placeholder="Enter Initial Wavelength">
        </div>
        <div class="form-group">
            <label for="FinWave">Final Wavelength:</label>
            <input type="number" class="form-control" id="FinWave" placeholder="Enter Final Wavelength">
        </div>
        <div class="form-group">
            <label for="gain">Gain:</label>
            <input type="number" class="form-control" id="gain" placeholder="Enter Gain">
        </div>
        <br>
        <p align="center">
            <button class="btn btn-primary" type="button" (click)="proceed()">Submit</button>
        </p>
        
    </form>
</div>
