<div class="container">
    <div class="row">
        <div class="col">
            <div class="box">
                <div class="boxchild">
                  <h3>Parameters for processing</h3>
                  <div> 
                     <form id="form" [formGroup]="configForm">
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>RMS</mat-label>
                            <input matInput placeholder="7"  required autocomplete="off" formControlName="rsme"/>
                          </mat-form-field>
                          <mat-form-field class="example-full-width" appearance="fill">
                              <mat-label>Initial Wavelength</mat-label>
                              <input matInput placeholder="530"  required autocomplete="off" formControlName="iniw"/>
                            </mat-form-field>
                            <mat-form-field class="example-full-width" appearance="fill">
                              <mat-label>Final Wavelength</mat-label>
                              <input matInput placeholder="560"  required autocomplete="off" formControlName="finalw"/>
                            </mat-form-field>
                            <mat-form-field class="example-full-width" appearance="fill">
                              <mat-label>Gain</mat-label>
                              <input matInput placeholder="13"  required autocomplete="off" formControlName="gain"/>
                            </mat-form-field>
                            <button mat-raised-button (click)="previewVideo()">Preview</button>
                            &nbsp; &nbsp; &nbsp; &nbsp;
                            <button mat-raised-button (click)="proceed()">Proceed</button>
              
                          </form>
                  </div>
               </div>
              </div> 
        </div>
        <div class="col viddiv">

            <div>
                <div *ngIf="previewRaw">
                    <h2>Raw Video</h2>
                    <div *ngIf="showRaw">
                        <app-input-preview></app-input-preview>
                    </div>
                </div>
                <div *ngIf="preview">
                    <h2>Processed Video</h2>
                    <div *ngIf="showPreview">
                        <video controls width="500" height="300">
                            <source src= {{vidUrlS}} type="video/mp4" >
                        </video>
                    </div>      
                </div>
            </div>
        </div>
    </div>
</div>


