<br>
<!-- <div class="center">
    <h2 style="text-align: center;">Processing Complete</h2>
    <p align="center">
        <a href="https://localhost:7299/download" download>Download Video</a>
    </p>
    
</div> -->
<h2>Thank you for using!</h2>

<div>
    <video controls width="500">
        <source src= {{vidUrlS}} type="video/mp4" >
    </video>
    <button class="btn">
        <i class="fa fa-download"></i> 
        <a href={{vidUrlS}}></a>
        Download
    </button>
    <p>{{processlink}}</p>
</div>

<!-- <video controls width="500">
    <source src= {{vidUrl}} type="video/mp4" >
</video> -->
