<br>
<!-- <div class="center">
    <h2 style="text-align: center;">Processing Complete</h2>
    <p align="center">
        <a href="https://localhost:7299/download" download>Download Video</a>
    </p>
    
</div> -->
<h2 style="text-align: center;">Thank you for using our Website!</h2>

<div class="center">
    <div class="container">
        <div class="row">
            <video controls width="500" height="300">
                <source src= {{vidUrlS}} type="video/mp4"  >
            </video>
        </div>
        <div class="row downbox">
            <a href={{vidUrlS}} class='btn'>Download</a>

        </div>

    </div>
    

     <!-- <button class="btn">
        <i class="fa fa-download"></i> 
        <a href={{vidUrlS}}></a>
        Download
    </button>
    <p>{{processlink}}</p> -->
</div>

<!-- <video controls width="500">
    <source src= {{vidUrl}} type="video/mp4" >
</video> -->
