

<div [ngClass]="submit? 'videoDiv': 'defaultPad' ">
    <div *ngIf="submit">
        <h4>Video Preview</h4>
        <app-input-preview></app-input-preview>
    </div>
</div>


<div class="center">
    <div>
        <input class="form-control" type="file" 
                (change)="onChange($event)">
    </div> 
    <div class="container">
        <form id="form" [formGroup]="configForm" >
            <div>
                <div>
                    <label for="floatingstart">Start time: </label> 
                    <input id="floatingstart" class="form-control" formControlName="starttime" type="text" placeholder="in seconds"  />
                    
                </div>
                <div>
                    <label for="floatingend">End time: </label>
                    <input id="floatingend" class="form-control" formControlName="endtime" type="text" placeholder="in seconds" />
                    
                </div>
                <br>
            </div>
            <!-- <p>
                <button class="btn btn-primary " type="button" (click)="onUploadVid()">Submit</button>
            </p> -->
            <div id="ConfigButtons">
                <button class="btn btn-secondary" type="button" (click)="previewVideo()">
                Preview 
                </button>
                <button class="btn btn-primary " type="button" (click)="onUploadVid()">Submit</button>
             </div>
            
          </form>
    </div>
    <!--Flag variable is used here-->
    <div class="container" *ngIf="loading">
        <h3>Loading ...</h3>
    </div>

  
</div>

