.center {
    margin: auto;
    width: 60%;
    padding: 10px;
    position:relative;
  }
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  #ConfigButtons>button{
    margin-left: 10%;
    margin-right: 10%;
  }

  .videoDiv{
    width: 100%;
    display: inline-flex;
    justify-content: space-around  ;
    align-items: left;
  }

  .defaultPad{
    padding-left: 17%;
  }

  .headPad{
    padding-left: 10%;
  }